# Ports
# JELLYFIN_PORT=8096
# AUDIOBOOKSHELF_PORT=13378

# Jellyfin paths
# JELLYFIN_CONFIG_PATH=./data/jellyfin/config
# JELLYFIN_CACHE_PATH=./data/jellyfin/cache
# JELLYFIN_PREVIEW_PATH=./data/jellyfin/preview
# JELLYFIN_VIDEO_PATH=./data/jellyfin/video

# Audiobookshelf paths
# AUDIOBOOKSHELF_CONFIG_PATH=./data/audiobookshelf/config
# AUDIOBOOKSHELF_METADATA_PATH=./data/audiobookshelf/metadata

# Optional
# PUID=1000
# PGID=1000
# TZ=Europe/Berlin
