[defaults]
inventory = hosts.yml
roles_path = roles
host_key_checking = false
private_key_file = ~/.ssh/id_ansible
interpreter_python = auto_silent
vars_plugins_enabled = host_group_vars,community.sops.sops
